@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap");


/* Variable for black used throughout page */
:root {
  --mainblck: #212529;
}

/* General formatting for main and body */
body,
main, .form-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

body {
  margin: 0;
  height: 100vh;
  background-color: var(--mainblck);
}

main {
  margin: 0;
  padding: 50px;
  width: 50vw;
  font-family: "Mulish", sans-serif;
  color: var(--mainblck);
  border: 6px dashed var(--mainblck);
  border-radius: 50%;
  background-color: whitesmoke;
}

/* Grouping frequently used properties*/
h1,
h2,
.btn,
input,
select {
  font-family: "Philosopher", sans-serif;
  margin: 5px;
}

/* Formatting for link */
a {
  text-decoration: none;
  color: var(--mainblck);
  cursor: pointer;
}


/* Formatting for form and associated elements */
.currency-form {
  display: flex;
}

input,
select {
  padding: 4px;
  height: 30px;
}

input,
select,
.btn {
  width: 100px;
  color: whitesmoke;
  background-color: var(--mainblck);
  border: none;
  border-radius: 20px;
  text-align: center;
}

label {
  margin: 4px;
}

.markup {
  font-size: 11px;
}
.btn {
  height: 35px;
  font-size: larger;
  font-weight: 700;
  cursor: pointer;
}

.btn,
h1 {
  transition-duration: 300ms;
}

.btn:hover,
.btn:focus,
h1:hover,
h1:focus {
  transform: scale(1.1);
}

/* Formatting for price and associated elements */
.price {
  text-align: center;
  font-weight: bold;
  margin: 4px;
}

.price-2 {
  text-align: center;
  font-weight: 100;
}
